{% extends 'base.html' %}

{% load static %}

{% block 'main' %}


<div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4 mt-5">
        {% if errmsg %}
        <div class="alert alert-danger">
            <strong>{{errmsg}}</strong>
        </div>
        {% endif %}
        <form method="post" enctype="multipart/form-data" class="mt-2">
                {% csrf_token %}
            <table class="table">
                <tr align="center">
                    <th colspan="2">
                        <img src="{{pdata.uimg.url}}" alt="" width="40%" class="rounded-5">
                    </th>
                </tr>
                <tr>
                    <th>Upload Image:</th>
                    <th><input type="file" name="uimg" id="" value="" accept="Image/*" required></th>
                </tr>
                <tr>
                    <th>Username</th>
                    <th>{{user.username}}</th>
                </tr>
                <tr>
                    <th>First Name</th>
                    <th><input type="text" name="fname" value="{{user.first_name}}"></th>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <th><input type="text" name="lname" value="{{user.last_name}}"></th>
                </tr>
                <tr>
                    <th>Email</th>
                    <th><input type="email" name="email" value="{{user.email}}"></th>
                </tr>
                <tr>
                    <th>Mobile No.</th>
                    <th><input type="number" name="mob" value="{{pdata.mob_no}}"></th>
                </tr>
                <tr>
                    <th>Address</th>
                    <th><textarea class="form-control" name="uadd" id="Textarea1" rows="3">{{pdata.uadd}}</textarea></th>
                </tr>
                <tr align="center"> 
                    <th colspan="2">
                        <a href="/account/profile"><button type="submit" class="btn btn-danger">Update</button></a>
                        
                    </th>
                </tr>
            </table>
        </form>
    </div>
    <div class="col-md-4"></div>

</div>


{% endblock 'main' %}