{% load static %}

    <!--Footer Starts-->
      <div class="row mt-5 ff">
        <div class="col-md-6">
            <h5>Quick Links</h5>
            <hr>
            <ul type="none">
                <li><a href="/" class="anchor">Home</a></li>
                <li><a href="/contact" class="anchor">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h5>Follow us</h5>
            <hr>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-facebook"></i> 
            <i class="bi bi-twitter-x"></i> 
            <i class="bi bi-linkedin"></i>
        </div>
    </div>
</div>


<script src="https://unpkg.com/scrollreveal"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.10/typed.min.js"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
</body>
</html>